<!-- repos.component.html -->
<div class="flex flex-wrap gap-4 justify-around p-4">
  <div class="border-2 w-[700px] bg-white p-4 px-5 rounded" *ngFor="let repo of repos">
    <div class="" >
      <div class="name text-3xl font-bold">Repo: {{ repo.name }}</div>
      <div class="flex flex-col">
        <div class="text-sm mt-2 flex gap-1  font-bold">
          <span>
            Homepage:
          </span> <a class="text-blue-500" href={{repo.homepage}}>
            {{ repo.homepage || "No Information" }}
          </a>
        </div>
        <div class="text-sm mt-2 flex gap-1  font-bold">
          <span>
            Github Link :
          </span> <a class="text-blue-500" href={{repo.html_url}}>
            {{ repo.html_url || "No Information" }}
          </a>
        </div>
        <div class="h-16 mt-4 font-medium text-gray-800">
          Description: {{ repo.description || "No Information" }}
        </div>
        <div id="language" class="flex gap-1 items-center w-auto">
          <span class="font-bold"> Languages :</span>
          <div class="font-bold text-blue-600 px-3 py-1" *ngIf="repo.language">
            {{ repo.language || "No Information" }}
          </div>
        </div>
      </div>
      <div class="flex gap-4">
        <div id="language" class="flex gap-1 items-center w-auto">
          <span class="font-bold"> Branch :</span>
          <div
            class="font-bold text-blue-600 px-3 py-1"
            *ngIf="repo.default_branch"
          >
            {{ repo.default_branch || "No Information" }}
          </div>
        </div>
        <div id="language" class="flex gap-1 items-center w-auto">
          <span class="font-bold"> Visibility :</span>
          <div
            class="font-bold text-blue-600 px-3 py-1"
            *ngIf="repo.visibility"
          >
            {{ repo.visibility || "No Information" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
