<div class="bg-blue-500 py-20">
  <h1 class="text-8xl text-white  underline text-center font-semibold"> {{title}} </h1>
</div>
<div *ngIf="!githubUsername" class="flex flex-col items-center justify-center p-10  w-full  ">
  <div class="font-bold flex flex-col items-center text-3xl ">
    <h1 class="text-4xl  font-bold">Get Your Github User Profile and Details</h1>
    <form (ngSubmit)="onSubmit()" class="flex  mt-10 mx-auto bg-white p-2 rounded-lg">

      <input type="text" [ngModel]="username" id="name" placeholder="Username" class="w-[800px] bg-white outline-none border border-gray-300 rounded-l py-4 px-4 block focus:border-blue-400" [(ngModel)]="username" name="username">

      <button type="submit" class="bg-blue-500 px-3 rounded-r text-white hover:bg-white hover:text-blue-500 border border-blue-500">Submit</button>
    </form>
  </div>
</div>

<app-userdetails [user]="user"></app-userdetails>
<app-repos *ngIf="repos" [repos]="repos"></app-repos>
<div *ngIf="user" >
  <app-pagination  [totalPages]="user.public_repos" (pageEvent)="onPageChanged($event)">
</app-pagination>
</div>





